@import "colour.css";

html{
    scroll-behavior:smooth;
    font-size: 16px;
}

body {
    background-color: var(--standard-background);
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

h1 {
    font-size: 2em;
    font-weight: 400;
}

h2 {
    font-size: 1.25em;
    font-weight: 400;
}

h3 {
    font-size: 1.17em;
    font-weight: 400;
}

h4 {
    font-size: 1em;
    font-weight: 400;
}

h5 {
    font-size: 0.83em;
    font-weight: 400;
}

p {
    font-size: 0.75em;
    font-weight: 400;
}

button {
    border: none;
    background-color: transparent;
    color: var(--text-title);
}

textarea {
    resize: none;
    border: none;
    background-color: var(--standard-background);
    border: 1px solid var(--border-standard);
    padding: 0.5em;
    border-radius: 0.5em;
    color: var(--text-title);
}

input[type="text"],
input[type="password"],
input[type="email"] {
    border: none;
    background-color: var(--standard-background);
    border: 1px solid var(--border-standard);
    padding: 0.5em;
    border-radius: 0.5em;
}

textarea:focus {
    outline: none;
}

.profile-picture img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid var(--border-standard);
}

