.mobile-container {
    background-color: var(--standard-background);
    height: 7.5dvh;
    width: 100%;
    bottom: 0;
    display: flex;
    position: fixed;
    z-index: 100;
    border-top: 1px solid var(--border-standard);
    align-items: center;
    justify-content: center;
}

.mobile-container i {
    color: var(--text-title);
}

.mobile-container ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.mobile-container li:hover {
    transform: scale(1.1);
}

.mobile-container li {
    margin-left: auto;
    margin-right: auto;
}

.mobile-container ul a {
    text-decoration: none;
    color: var(--textColourLight);
    font-size: 1.5em;
    font-weight: bold;
    height:fit-content;
}

.mobile-container button {
    background-color: transparent;
    border: none;
    font-size: 1em;
    color: var(--textColourLight);
}

.mobile-container li a:hover {
    background-color: var(--hoverColour);
    border-radius: 10em;
    padding: 10px;
    margin: -10px;
}

.mobile-container .profile-picture {
    width: 1.5em;
    height: 1.5em;
    opacity: 1;
    border-radius: 50%;
    border: 1px solid var(--border-standard);
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px){
    body {
        padding-bottom: 10em;
    }

    .mobile-container {
        display: flex;
    }

    .navbar {
        display: none;
    }

    .sidenav {
        display: none;
    }

    .settings-container {
        width:90%;
    }

    .main-container .account-container {
        width: 90%;
    }

    .navbar .search-container {
        display: none;
    }

    .navbar ul, .navbar ul a, .navbar button {
        display: none;
    }

    #post-container {
        width: 100%;
        margin-top: -1em;
    }

    .navbar{
        height: 3em;
    }

    .navbar .web-logo {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-self: center;
    }

    .navbar .web-logo img {
        width: 50%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    html {
        width: 110%;
    }

    .main-container .account-container .preview-container {
        height: 100%;
    }

    .main-container .create-message-container .create-message {
        width: 95%;
    }
}
