:root {
    --backgroundColour: rgb(235, 235, 235);
    --textColour: rgb(118, 118, 118);
    --navbarColour: rgb(255, 255, 255);
    --outline: rgb(203, 203, 203);
    --sidenavBackground: rgb(255, 255, 255);
    --sidenavHover: rgb(248, 240, 255);
    --sidenavSelected: rgba(220, 220, 220, 0.381);
    --textboxbackground: rgb(230, 230, 230);
    --loginHover: rgb(234, 211, 255);
    --postBackground: rgb(246, 246, 246);
}

body {
    background-color: var(--backgroundColour);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
    font-family: Helvetica;
}

.navbar {
    top: 0;
    height: 5em;
    width: 100%;
    background-color: var(--navbarColour);
    border-bottom: 1px solid var(--outline);
    display: flex;
    position: fixed;
    justify-items: flex-end;
}

.navbar h1 {
    margin-left: 1em;
    font-size: 2em;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.navbar .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.search-container input[type="text"] {
    width: 30em;
    height: 2em;
    border-radius: .25em;
    outline: 1px solid var(--outline); 
    border: none;
    font-size: 1em;
    padding: 0 2em;
    margin-right:25em;
}

.search-container i {
    position: absolute;
    top:2em;
    transform: translateX(50%);
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1em;
}

.navbar ul a {
    margin: 0 1em;
    font-size: 2.5em;
    color: var(--textColour);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-size: .75em;
    position: absolute;
    width: fit-content;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: var(--textColour);
    color: var(--backgroundColour);
    text-align: center;
    padding: .5em;
    border-radius: .5em;
    transition: all 0.4s 1s ease;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:not(:hover) .tooltiptext {
    visibility: hidden;
    transition: visibility 0s;
}

.sidenav {
    width:20em;
    height: fit-content;
    position: fixed;
    z-index: 1;
    top: 6.5em;
    left: 2em;
    background: var(--sidenavBackground);
    outline: 1px solid var(--outline);
    border-radius: 1em;
}

.sidenav a {
    text-decoration: none;
    color: var(--textColour);
    font-size: 1.5em;
    padding: 1em 1em 1em 1em;
    width: 100%;
    display: flex;
}

.sidenav a:hover {
    background-color: var(--sidenavHover);
}

.sidenav .selected {
    background-color: var(--sidenavSelected);
}

.sidenav a:hover:first-child {
    border-radius: .75em .75em 0 0;
}

.sidenav a:hover:last-child {
    border-radius: 0 0 .75em .75em;
}

.sidenav a i {
    align-items: center;
    width: 1.5em;
}

.main-container {
    margin: 6.5em 0;
}

.main-container .post {
    height: 30em;
    width: 100%;
    margin-bottom: 1em;
    border-radius: 10px;
    background-color: var(--postBackground);
    outline: 1px solid var(--outline);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container .post .post-header {
    width: fit-content;
    padding: 1em;
    width:100%;
    display: inline-block;
    border-bottom: 1px solid var(--outline);
    background-color: var(--navbarColour);
    border-radius: 10px 10px 0 0;
}

.main-container .post .post-header h3,
.main-container .post .profile-picture {
    display: inline;
    font-size: 1.5em;
    width: fit-content;
    margin-left: 1em;
}

.main-container .post .post-header p {
    color: var(--textColour);
    padding: 1em;
    padding-top: .5em;
}


@media screen and (min-width: 786px) {
    .navbar {
        display: flex;
    }

    .mobile-container {
        display:none;
    }

    .sidenav {
        display: block;
    }

    .main-container{
        margin-left: 25em;
        width: 45%;
    }
}
