:root {
    --backgroundColour: rgb(235, 235, 235);
    --textColour: rgb(118, 118, 118);
    --navbarColour: rgb(255, 255, 255);
    --outline: rgb(203, 203, 203);
    --sidenavBackground: rgb(255, 255, 255);
    --sidenavHover: rgb(248, 240, 255);
    --sidenavSelected: rgba(220, 220, 220, 0.381);
    --textboxbackground: rgb(230, 230, 230);
    --loginHover: rgb(234, 211, 255);
    --postBackground: rgb(246, 246, 246);
}

body {
    background-color: var(--backgroundColour);
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
    font-family: Helvetica;
    width: 100%;

}

.navbar {
    z-index: 99;
    top: 0;
    width: 100%;
    background-color: var(--navbarColour);
    border-bottom: 1px solid var(--outline);
    display: flex;
    position: fixed;
    justify-items: flex-end;
    transition: top 0.3s;
}

.navbar h1 {
    margin-left: 1em;
    font-size: 2em;
    font-weight: 400;
    display: flex;
    align-items: center;
}


.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1em;
    right: 0;
    position: absolute;
    top: 25%;
}

.navbar ul a {
    margin: 0 1em;
    font-size: 2.5em;
    color: var(--textColour);
}

.navbar .default-icon {
    width: 3.5em;
    height: 3.5em;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top:-0.75em;
}

.navbar .dropdown {
    position: static;
    display: inline-block; 
    margin-top:-0.5em;
}

.navbar .icon {
    width: 3.5em;
    height: 3.5em;
}

.navbar .icon img {
    border-radius: 50%;
    outline: 1px solid var(--outline);
}

.navbar .icon:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 5px 1px var(--loginHover);
    border-radius: 50%;
}

.navbar .dropdown button {
    border: none;
    background-color: transparent;
    margin-right:1em;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--navbarColour);
    min-width: 5em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 50%;
    transform: translateX(-60%);
    top: 100%;
}

.navbar .dropdown-content a {
    color: var(--textColour);
    font-size: 1em;
    text-decoration: none;
    display: block;
    margin-left: 0;
    width: 100%;
    text-align: center;
    padding: 0.5em;
}

.navbar .dropdown-content a:hover {
    background-color: var(--sidenavHover);
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-size: .75em;
    position: absolute;
    width: fit-content;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: var(--textColour);
    color: var(--backgroundColour);
    text-align: center;
    padding: .5em;
    border-radius: .5em;
    transition: all 0.4s 1s ease;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:not(:hover) .tooltiptext {
    visibility: hidden;
    transition: visibility 0s;
}

.sidenav {
    width:20%;
    height: fit-content;
    position: fixed;
    z-index: 1;
    top: 6.5em;
    left: 2em;
    background: var(--sidenavBackground);
    outline: 1px solid var(--outline);
    border-radius: 1em;
}

.sidenav a {
    text-decoration: none;
    color: var(--textColour);
    font-size: 1.5em;
    padding: 1em 1em 1em 1em;
    width: 100%;
    display: flex;
}

.sidenav a:hover {
    background-color: var(--sidenavHover);
}

.sidenav .selected {
    background-color: var(--sidenavSelected);
}

.sidenav a:hover:first-child {
    border-radius: .75em .75em 0 0;
}

.sidenav a:hover:last-child {
    border-radius: 0 0 .75em .75em;
}

.sidenav a i {
    align-items: center;
    width: 1.5em;
}

.main-container {
    margin: 4em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container #post-container {
    height: 100%;
    border-right: 2px solid var(--outline);
    border-left: 2px solid var(--outline);
    align-self: center;
}

.main-container #post-container button {
    border: none;
    background-color: transparent;
    width: flex-end;
    max-height: 32.5em;
    width: 100%;
}

.main-container #post-container .post {
    max-height: 32.5em;
    width: 100%;
    border-bottom: 2px solid var(--outline);
}

.main-container #post-container .post:first-child {
    border-top: none;
}

.main-container #post-container .post .post-header {
    display: flex;
    height: fit-content;
    align-items: center;
}

.main-container #post-container .post .post-header .profile-picture {
    font-size: 1.5em;
    margin: 0.5em 0;
    height: 100%;
    color: var(--textColour);
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.main-container #post-container .post .post-header .profile-picture img {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}

.main-container #post-container .post .post-header .post-header-content {
    width: 50%;
}

.main-container #post-container .post .post-header .post-header-content .stack{
    display: flex;
    width: 100%;
    margin-left: 0.5em;
    align-self: start;
    margin-top: 0.75em;
    align-items: flex-start;
}

.main-container #post-container .post .post-header .post-header-content .stack .profile-name {
    font-size: 1em;
}

.main-container #post-container .post .post-header .post-header-content .stack .post-information {
    font-size: 0.7em;
    margin-left: 0.5em;
}

.main-container #post-container .post .post-header .post-header-content .stack .description {
    font-size: 0.8em; 
    margin-top: -0.5em;
    height: 1em;
}

.main-container #post-container .post .post-header .post-date {
    margin-left: auto;
    margin-right: 2%;
    height: 100%;
    align-self: flex-end;
    font-size: 0.7em;
    margin-bottom: 0.25em;
}

.main-container #post-container .post .image-container {
    margin: 1em;
    max-height: 25em;
    border-radius: 1em;
    background-color: var(--outline);
    border: 2px solid var(--outline);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main-container #post-container .post .image-container img {
    min-width: 100%;
    min-height: 100%;
    border-radius: 1em;
}

.main-container #post-container .post .extras-content {
    margin-left: 1.5em;
    margin-top: -1em;
    font-size: 1em;
    display: flex;
    align-items: center;
    width: 100%;
    height: 2em;
}

.main-container #post-container .post .extras-content button {
    width: 2em;
}

.main-container #post-container .post .extras-content label {
    width: 2em;
    height:100%;
    display: flex;
    align-items: center;
}

.main-container #post-container .post .extras-content label:hover {
    transform: scale(1.1);
}

.main-container #post-container .post .extras-content .item {
    margin-right: 0.5em;
    display: flex;
    align-items: center;
}

.main-container #post-container .post .extras-content .item p {
    margin-top: 0.9em;
    color: grey;
    font-size: 0.7em;
}

.main-container .comment-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    border-top: 2px solid var(--outline);
    flex-direction: column;
    padding-top:1em;
}

.main-container .comment-container .new-comment {
    display: flex;
    width: 75%;
    height: 7.5em;
    border: 2px solid var(--outline);
    background-color: var(--postBackground);
    border-radius: 1em;
    margin: 1em;
    color: var(--textColour);
    flex-direction: column;
    padding: 0.5em;
}

.main-container .comment-container .new-comment .comment-title {
    display: flex;
    height:fit-content;
    font-size: 0.9em;
}

.main-container .comment-container .new-comment .comment-input {
    width:75%;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.main-container .comment-container .new-comment .comment-input textarea {
    width: 100%;
    height: 100%;
    border-radius: 1em;
    border: 1px solid var(--outline);
    padding: 1em 1em;
    margin-top:0.5em;
    resize: none;
    max-height: 130px;
    max-width: 100%;
}

.main-container .comment-container .new-comment .comment-input button {
    margin-left: 1em;
    border:none;
    padding:0.5em;
    height:fit-content;
    border-radius: 50em;
    background-color: var(--sidenavSelected);
    outline: 1px solid var(--outline);
}

.main-container .comment-container .comments {
    display:flex;
    flex-direction: column;
    width:75%;
}

.main-container .comment-container .comments .comment {
    display: flex;
    width: 100%;
    height: fit-content;
    border: 2px solid var(--outline);
    background-color: var(--postBackground);
    border-radius: 1em;
    margin-bottom: 0.5em;
    color: var(--textColour);
    flex-direction: column;
    padding: 0.5em;
}

.main-container .comment-container .comments .comment .comment-header {
    display: flex;
    height: fit-content;
    flex-direction: row;
}

.main-container .comment-container .comments .comment .comment-header .comment-username {
    font-size: 1em;
    display:flex;
    align-items: center;
    margin-left: 0.5em;
}

.main-container .comment-container .comments .comment .comment-header .comment-date {
    margin-left: auto;
    font-size: 0.7em;
    margin-right: 0.5em;
}

.main-container .comment-container .comments .comment button {
    border: none;
    background-color: transparent;
}

.main-container .comment-container .comments .comment .profile-picture {
    font-size: 1.5em;
    height: 100%;
    color: var(--textColour);
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.main-container .comment-container .comments .comment .profile-picture img {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}

.main-container .comment-container .comments .comment .comment-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.5em;
    font-size: 0.85em;
}

.main-container .comment-container .comments .comment .comment-extras {
    margin-top: 0.5em;
    border-top: 1px solid var(--outline);
    display: flex;
    flex-direction: row;
    margin-right: 0.5em;
}

.main-container .comment-container .comments .comment .comment-extras .item {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
}

.main-container .comment-container .comments .comment .comment-extras button {
    border: none;
    background-color: transparent;
    margin-right: 0.5em;
}

.main-container .comment-container .comments .comment .comment-extras label {
    width: 2em;
    height:100%;
    display: flex;
    align-items: center;
}

.main-container .comment-container .comments .comment .comment-extras label:hover {
    transform: scale(1.1);
}

.main-container .comment-container .comments .comment .comment-extras .likeCount {
    margin-right: 0.5em;
    margin-top:0.5em;
}

.main-container .comment-container .login-button{
    margin-top: 1em;
    border: none;
    padding: 1em 2em 1em 2em;
    border: 1px solid var(--outline);
    border-radius: 1em;
}

.main-container .comment-container .login-button:hover {
    box-shadow: 0 5px 5px 0 var(--loginHover);
}

.main-container .comment-container .login-button a {
    text-decoration: none;
    color: var(--textColour);
}


.main-container .file-form{
    width: 50%;
}

.main-container .file-container{
    margin: 2.5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:80vh;
    background-color: var(--sidenavBackground);
    outline: 1px solid var(--outline);
    border-radius: 1em;
}

.main-container .file-container .image-container{
    width: 80%;
    height: 55%;
    border-radius: 0 0 1em 1em;
    outline: 1px solid var(--outline);
    overflow: hidden;
    background-color: var(--postBackground);
}

.main-container .file-container .image-container img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 0 0 1em 1em;
    background-color: rgb(207, 207, 207);
}

.main-container .file-container .image-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.main-container .file-container button{
    border:none;
    padding:1em;
    border-radius: 50em;
}

.main-container .file-container button[type="submit"]{
    position: absolute;
    top: 82.5%;
    background-color: var(--sidenavSelected);
    outline: 1px solid var(--outline);
}

.main-container .file-container button:hover{
    box-shadow: 0 5px 5px 0 var(--loginHover);
}

.main-container .text-input-container{
    display:flex;
    flex-direction: row;
    width:100%;
    height: fit-content;
    margin-bottom: 5em;
}

.main-container .text-input-container .information-container{
    width:50%;
    height: 100%;
    margin: 0 0 0 10%;
    margin-right: 1em;
}

.main-container .text-input-container .description-container {
    width:50%;
    height: 100%;
    margin: 0 10% 0 0;
}

.main-container .text-input-container .information-container .stack {
    height: fit-content;
}

.main-container .text-input-container .information-container input[type="text"]{
    width: 100%;
    border-radius: 1em;
    border: 1px solid var(--outline);
    padding: 1em 1em;
    margin-top:0.5em;
}

.main-container .text-input-container .description-container textarea{
    width: 100%;
    height: calc(100% - 0.5em);
    border-radius: 1em;
    border: 1px solid var(--outline);
    padding: 1em 1em;
    margin-top:0.5em;
}

.main-container .account-container {
    margin: 2.5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height:80vh;
    background-color: var(--sidenavBackground);
    outline: 1px solid var(--outline);
    border-radius: 1em;
}

.main-container .account-container .account-details {
    margin: 1em;
    text-align: center;
}

.main-container .account-container .account-details h3{
    margin-top:0.5em;
}

.main-container .account-container .account-details .profile-picture-container {
    font-size: 3em;
    width: 100%;
    height:0.75em;
    align-items: center;
    justify-content: center;
    display: flex;
}

.main-container .account-container .account-details .profile-picture-container .profile-picture {
    width: 1.5em;
    height: 1.5em;
    margin-top: -0.5em;
    position: relative;
}

.main-container .account-container .account-details .profile-picture-container .-label {
    width:1.5em;
    height:1.5em;
    margin-top: -0.5em;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
}

.main-container .account-container .account-details .profile-picture-container .-label span {
    font-size: 0.2em;
    visibility: hidden;
}

.main-container .account-container .account-details .profile-picture-container .-label:hover {
    background-color: rgba(0,0,0,.7);
    transition: background-color .2s ease-in-out;
    box-shadow: 0 0 15px 0 var(--loginHover);
    outline: 1px solid var(--outline);
    color: white;
}

.main-container .account-container .account-details .profile-picture-container .-label:hover span {
    visibility: visible;
}
    
.main-container .account-container .account-details .profile-picture-container input{
    display: none;
}


.main-container .account-container .account-details .profile-picture-container .profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    outline: 1px solid var(--outline);
    object-fit: cover;
}

.main-container .account-stats-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:5em;
    margin-top:0.25em;
    margin-left: 0;
}

.main-container .account-stats-container .account-stats button{
    border:none;
    background-color: transparent;
}

.main-container .account-stats-container .account-stats label {
    cursor: pointer;
}

.main-container .account-container .settings-icon-container {
    width:100%;
}
.main-container .account-container .settings-icon-container button {
    border: none;
    background-color: transparent;
    margin: 1em 1em;
}

.main-container .account-container .settings-icon-container .fa-solid {
    font-size: 2em;
}

.main-container .account-container .settings-icon-container .fa-solid:hover {
    text-shadow: 0em 0em 1em var(--loginHover);
    animation: rotate 2.5s infinite linear;
}

.main-container .account-container .preview-container{
    background-color: var(--postBackground);
    outline: 1px solid var(--outline);
    border-radius: 0.5em;
    width: 100%;
}

.main-container .post-preview {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    padding: 1em;
    justify-content: center;
    align-content: center;
    position: relative;
}

.main-container .post-preview .post-item {
    outline: 1px solid var(--outline);
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    max-height: 9.5em;
    min-height: 9.5em;
}

.main-container .preview-container .post-preview .post-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}

.main-container .preview-container .post-preview .post-item h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main-container .preview-container .hover-container {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    transform: scale(0.99);
}

.main-container .preview-container .hover-container h3{
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: rgb(255, 255, 255);
}

.main-container .preview-container .hover-container .arrow {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    width: 2em;
    height: 1em;
    background-color: white;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    animation: arrow-animation 2.5s infinite;
}

.main-container .preview-container .hover-container:hover {
    z-index: 1;
    background: linear-gradient(to bottom, #00000000 60%, #00000076 100%);
    animation: fade-in 0.5s;
    opacity: 0.85;
}

.main-container .post-preview:hover {
    transform: scale(1.01);
    border-radius: 1em;
}

.main-container #post-container .post .post-header button:hover {
    transform: scale(1.1);
} 

.main-container .preview-container .no-post-preview  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-container .settings-container {
    margin: 2.5em;
    height: 80vh;
    background-color: var(--sidenavBackground);
    outline: 1px solid var(--outline);
    border-radius: 1em;
    display: flex;
    justify-content: center;
}

.main-container .preview-container button{
    border:none;
    width: 100%;
    height: 100%;
}

.main-container .settings-container .settings-title {
    position: absolute;
    left: 50%;
    margin-top: 1em;
    transform: translateX(-50%);
}

.main-container .settings-container .settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:45%;
    margin-left: 0.5%;
}

.main-container .settings-container .settings .settings-option {
    padding:1em;
    min-height: 6em;
    width: 100%;
    border-bottom: 1px solid var(--outline);
}

.main-container .settings-container .settings .settings-option:last-child {
    border-bottom: none;
}

.main-container .settings-container .settings-back-button button{
   border: none;
   background-color: transparent;
   margin: 1em -1.5em;
   position: absolute;
}

.main-container .settings-container .settings-back-button button:hover {
    animation: arrow-left 2.5s infinite;
}

.main-container .page-not-found {
    margin-top: -4em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: var(--textColour);
}

.main-container .page-not-found .error {
    font-size: 500%;
    color: black;
}

.main-container .page-not-found .description {
    font-size: 200%;
    margin-bottom: 20%;
    color: black;
}

.main-container .back-home {
    margin-top: 1em;
    border-radius: 1em;
    padding: 1em;
    border: 1px solid var(--outline);
    color: var(--textColour);
}

.main-container .back-home:hover {
    box-shadow: 0 0 10px 0 var(--loginHover);
    transform: scale(1.1);
}
.main-container .back {
    border:none;
    display:flex;
    justify-content: center;
    align-items: center;
    width:110%;
    transform: translateX(-5%);
    background-color: var(--backgroundColour);
}

.main-container .back .return {
    margin-top: 1em;
    border-radius: 1em;
    padding: 1em;
    border: 1px solid var(--outline);
    color: var(--textColour);
    width: 25%;
}

.main-container .back .return:hover {
    box-shadow: 0 0 10px 0 var(--loginHover);
    transform: scale(1.1);
}

.no-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: var(--textColour);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.main-container .map-container {
    width: 50%;
    height: 80vh;
    border: 1px solid var(--outline);
    border-radius: 1em;
    background-color: var(--postBackground);
    display:flex;
}

.main-container .map-container .search-container {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-container .map-container .search-container #search {
    width: 25%;
    height: 2em;
    border-radius: 1em;
    border: 1px solid var(--outline);
    padding: 0.5em;
    margin-right: 0.5em;
}

.main-container .map-container .search-container #search:focus {
    outline: 1px solid var(--loginHover);
}

.main-container .map-container .search-container #search-button {
    margin-left:0.5em;
    border: none;
    background-color: transparent;
}

.main-container .map-container .search-container #search-button:hover {
    transform: scale(1.2);
}

.main-container .create-message-container {
    display: flex;
    width:100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.67);
    border: 1px solid var(--outline);
    justify-content: center;
    align-content: center;

    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}

.main-container .create-message-container .create-message {
    height: 50%;
    border: 1px solid var(--outline);
    border-radius: 1em;
    background-color: var(--postBackground);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    padding: 0.5em;
}

.main-container .create-message-container .create-message textarea{
    margin-top: 1em;
    width: 100%;
    height:50%;
    border-radius: 1em;
    border: 1px solid var(--outline);
    resize: none;
    padding:0.5em;
}

.main-container .create-message-container .create-message textarea:focus {
    border: 1px solid var(--outline);
    outline: none;
}

.main-container .create-message-container .create-message .user-search {
    width:50%;
    padding-top: 1em;
}

.main-container .create-message-container .create-message .user-search input {
    width:100%;
    height: 2em;
    font-size: 1em;
    background-color: transparent;
    border:none;
    border-bottom: 2px solid var(--outline);
}

.main-container .create-message-container .create-message .user-search input:focus {
    border:none;
    border-bottom: 2px solid var(--outline);
    outline: none;
}

.main-container .create-message-container .create-message .user-dropdown {
    height:10em;
    width:25%;
    margin-top: 0.5em;
    position: absolute;
}

.main-container .create-message-container .create-message .user-dropdown .user {
    height:3em;
    width:100%;
    background-color: var(--postBackground);
    border: 1px solid var(--outline);
    position: relative;
}

.main-container .create-message-container .create-message .user-dropdown .user button {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-container .create-message-container .create-message .user-dropdown .user button:hover {
    background-color: var(--sidenavSelected);
}

.main-container .create-message-container .create-message .user-dropdown p {
    margin-left: 0.5em;
    width:fit-content;
    font-size: 1em;
    color: var(--textColour);
}

.main-container .create-message-container .create-message .user .image-container {
    height: 3em;
    width: 3em;
    display: flex;
    align-items: center;
    align-self: center;
    padding: 0.2em;
}

.main-container .create-message-container .create-message .user .image-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-self: center;
}

.main-container .create-message-container .create-message  .create-message-buttons {
    display:flex;
    justify-content: center;
}

.main-container .create-message-container .create-message  .create-message-buttons button {
    border:none;
    padding: 1em 2em;
    border-radius: 1em;
    margin: 1em;
    background-color: var(--sidenavBackground);
    outline: 1px solid var(--outline);
}

.main-container .create-message-container .create-message  .create-message-buttons button:hover {
    box-shadow: 0 5px 5px 0 var(--loginHover);
    transform: scale(1.1);
}

.main-container .message-container {
    width: 50%;
    height: 80vh;
    top: 6.5em;
    position: absolute;
    border: 1px solid var(--outline);
    border-radius: 1em;
    background-color: var(--postBackground);
    display:flex;
    flex-direction: column;
}

.main-container .message-container .message-header {
    display: flex;
    height: fit-content;
    height: 30%;
    flex-direction: column;
    padding: 0.5em;
}

.main-container .message-container .message-header .message-title {
    font-size: 1em;
    display: flex;
    color: var(--textColour);
}

.main-container .message-container .message-header .create-new {
    display: flex;
    flex-direction: row;    
}

.main-container .message-container .message-header .create-new button {
    border: none;
    background-color: transparent;
    margin-right: 0.5em;
    display:flex;
    flex-direction: row;
}

.main-container .message-container .message-header .create-new p {
    display: flex;
    text-decoration: none;
    color: var(--textColour);
    font-size: 0.9em;
    margin-left: 0.5em;
}

.main-container .message-container .message-dropdown-container {
    width: 100%;
    height: 70%;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    border-top: 1px solid var(--outline);
}

.main-container .message-container .message-dropdown-container button {
    border: none;
    background-color: transparent;
    width: 100%;
}

.main-container .message-container .message-dropdown-container .message-dropdown {
    width: 75%;
    height: 100%;
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    border: 1px solid var(--outline);
    border-bottom: none;
    border-top: none;
    overflow-y: auto;
}

.main-container .message-container .message-dropdown-container .message-dropdown .dropdown-content {
    width: 100%;
    height:15%;
    display: flex;
    border-bottom: 1px solid var(--outline);
    flex-direction: column;
}

.main-container .message-container .message-dropdown-container .message-dropdown .dropdown-content:hover {
    background-color: var(--sidenavSelected);
}


.main-container .message-container .message-dropdown-container .message-dropdown .dropdown-content .message-user {
   display: flex;
   flex-direction: row;
   height:fit-content;
}

.main-container .message-container .message-dropdown-container .message-dropdown .dropdown-content .image-container {
    font-size: 1.5em;
    height: 100%;
    margin-top: 0.25em;
    color: var(--textColour);
    display: flex;
    align-items: center;
    margin-left: 2%;
    align-self: center;
}

.main-container .message-container .message-dropdown-container .message-dropdown .dropdown-content .image-container img {
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
}

.main-container .message-container .message-dropdown-container .message-dropdown .dropdown-content .message-user p {
    font-size: 1em;
    display:flex;
    align-items: center;
    margin-left: 0.5em;
    font-size: 0.9em;
    color: var(--textColour);
}

.main-container .message-container .message-dropdown-container .message-dropdown .dropdown-content .message-user .message-date {
    margin-left: auto;
    margin-right: 2%;
    font-size: 0.7em;
    align-self: center;
}

.main-container .message-container .message-dropdown-container .message-dropdown .dropdown-content .recent-message {
    padding: 0.5em;
    padding-left: 1.5em;
    color: var(--textColour);
    font-size: 0.8em;
    text-align: left;
}

.loader,
.loader div {
  box-sizing: border-box;
}
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: var(--textColour);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader div:nth-child(1) {
  left: 8px;
  animation: loader1 0.6s infinite;
}
.loader div:nth-child(2) {
  left: 8px;
  animation: loader2 0.6s infinite;
}
.loader div:nth-child(3) {
  left: 32px;
  animation: loader2 0.6s infinite;
}
.loader div:nth-child(4) {
  left: 56px;
  animation: loader3 0.6s infinite;
}

@media screen and (min-width: 786px) {
    .navbar {
        display: flex;
    }

    .mobile-container {
        display:none;
    }

    .sidenav {
        display: block;
    }

    .settings-container {
        width:50%;
    }

    .main-container .account-container {
        width: 50%;
    }

    #post-container {
        width: 50%;
    }

    .navbar {
        height: 4em;
    }

    .navbar img{
        width: 100%;
        height: 100%;
    }

    .main-container .account-container .preview-container {
        width: 75%;
        height: 55%;
    }

    .main-container .account-container .preview-container .image-container {
        height:45%;
    }

    .main-container .create-message-container .create-message {
        width: 50%;
    }

}

@keyframes loader1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes loader3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes loader2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

@keyframes fade-down {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}

@keyframes arrow-animation {
    0% {
        top: 85%;
    }
    50% {
        top: 90%;
    }
    100% {
        top: 85%;
    }
}

@keyframes arrow-left {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-0.25em);
    }
    100% {
        transform: translateX(0);
    }
}
