@import "colour.css";
@import "default-text-sizing.css";
@import "post.css";

/* main css file */

.navbar {
    z-index: 99;
    top: 0;
    width: 100%;
    background-color: var(--standard-secondary-background);
    border-bottom: 1px solid var(--border-standard);
    display: flex;
    position: fixed;
    justify-items: flex-end;
    transition: top 0.3s;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    height:100%;
    position: absolute;
    right: 1em;
}

.navbar .icon img {
    border-radius: 50%;
    outline: 1px solid var(--border-standard);
    object-fit: cover;
}

.navbar .icon:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 5px 1px var(--highlighted-hover-background);
    border-radius: 50%;
}

.navbar .dropdown {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .dropdown .dropbtn {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .dropdown button {
    border: none;
    background-color: transparent;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--standard-background);
    min-width: 5em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
}

.navbar .dropdown-content a {
    color: var(--text-title);
    font-size: 1em;
    text-decoration: none;
    display: block;
    margin-left: 0;
    width: 100%;
    text-align: center;
    padding: 0.5em;
}

.navbar .dropdown-content a:hover {
    background-color: var(--standard-selected-background);
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

.navbar .error-container {
    display:flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 12;
    position: absolute;
    top: 0;
}


.navbar .error-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--border-standard);
    width: 25%;
    height: 5em;
    animation: fadeDownIn 1s ease-in-out forwards;
}

@keyframes fadeDownIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeBack {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-size: .75em;
    position: absolute;
    width: fit-content;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: var(--text-title);
    color: var(--standard-background);
    text-align: center;
    padding: .5em;
    border-radius: .5em;
    transition: all 0.4s 1s ease;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:not(:hover) .tooltiptext {
    visibility: hidden;
    transition: visibility 0s;
}

.sidenav {
    width:20%;
    height: fit-content;
    position: fixed;
    z-index: 1;
    top: 6.5em;
    left: 2em;
    background: var(--standard-background);
    outline: 1px solid var(--border-standard);
    border-radius: 1em;
    overflow: hidden;
}

.sidenav a {
    text-decoration: none;
    color: var(--text-subtitle);
    font-size: 1.5em;
    padding: 1em 1em 1em 1em;
    width: 100%;
    display: flex;
}

.sidenav a:hover {
    background-color: var(--highlighted-hover-background);
}

.sidenav .selected {
    background-color: var(--standard-selected-background);
}

.sidenav .selected:first-child {
    background-color: var(--standard-selected-background);
}

.sidenav .selected:last-child {
    background-color: var(--standard-selected-background);
}

.sidenav a i {
    align-items: center;
    width: 1.5em;
}

.main-container {
    margin: 4em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container .page-not-found {
    margin-top: -4em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: var(--text-title);
}

.main-container .page-not-found .error {
    font-size: 500%;
    color: var(--text-title);
}

.main-container .page-not-found .description {
    font-size: 200%;
    margin-bottom: 20%;
    color: var(--text-subtitle);
}

.main-container .back-home {
    margin-top: 1em;
    border-radius: 1em;
    padding: 1em;
    border: 1px solid var(--border-standard);
    color: var(--text-title);
}

.main-container .back-home:hover {
    box-shadow: 0 0 10px 0 var(--highlighted-hover-background);
    transform: scale(1.1);
}
.main-container .back {
    border:none;
    display:flex;
    justify-content: center;
    align-items: center;
    width:110%;
    transform: translateX(-5%);
    background-color: var(--standard-background);
}

.main-container .back .return {
    margin-top: 1em;
    border-radius: 1em;
    padding: 1em;
    border: 1px solid var(--border-standard);
    background-color: var(--standard-tertiary-background);
    width: 25%;
}

.main-container .back .return button {
    color: var(--text-title);
}

.main-container .back .return:hover {
    box-shadow: 0 0 10px 0 var(--highlighted-hover-background);
    transform: scale(1.1);
}

.no-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: var(--text-title);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 786px) {
    .navbar {
        display: flex;
    }

    .mobile-container {
        display:none;
    }

    .sidenav {
        display: block;
    }

    .settings-container {
        width:50%;
    }

    .main-container .account-container {
        width: 50%;
    }

    #post-container {
        width: 50%;
    }

    .navbar {
        height: 4em;
    }

    .navbar img{
        width: 100%;
        height: 100%;
    }

    .main-container .account-container .preview-container {
        width: 75%;
        height: 55%;
    }

    .main-container .account-container .preview-container .image-container {
        height:45%;
    }

    .main-container .create-message-container .create-message {
        width: 50%;
    }

    .icon {
        width: 4em;
        height: 4em;
    }

}

@media screen and (max-width: 786px) {
    .icon {
        display: none;
    }

    .icon img{
        width: 100%;
        height: 100%;
    
    }
    
}

@keyframes loader1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes loader3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes loader2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

@keyframes fade-down {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}

@keyframes arrow-animation {
    0% {
        top: 85%;
    }
    50% {
        top: 90%;
    }
    100% {
        top: 85%;
    }
}

@keyframes arrow-left {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-0.25em);
    }
    100% {
        transform: translateX(0);
    }
}
