<html>
    <head>
        <title>CarSpotters</title>
        <meta name="theme-color" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/x-icon" href="/assets/CARSPOTTERIMGLOGO.png">
        <link rel="stylesheet" type="text/css" href="/stylesheet/mobile.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/pc.css">
        <script src="https://kit.fontawesome.com/a74a21bfbd.js" crossorigin="anonymous"></script>
        HELLO, WORLD
    </head>
</html>