<!DOCTYPE html>
<html lang="eng">  
<head>
    <title>CarSpotters</title>
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/assets/CARSPOTTERIMGLOGO.png">
    <link rel="stylesheet" type="text/css" href="/stylesheet/mobile.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/pc.css">
    <script src="https://kit.fontawesome.com/a74a21bfbd.js" crossorigin="anonymous"></script>
</head>
<body style="overflow-y: hidden;">
<div class = "navbar">
    <div class = "web-logo">
        <img src = "/assets/CARSPOTTERIMG.png" alt = "CarSpotters">
    </div>
    <div class="search-container">
    </div>

    <ul>
        <% if (!userID) { %>
            <div class = "tooltip">
                <a href = "login" id="login"><i class="fa-solid fa-circle-user"></i></a>
                <span class = "tooltiptext">Login</span>
            </div>
        <% } else { %>
            <div class = "dropdown">
                <button class = "dropbtn">
                    <div class = "icon">
                        <img src = "<%=userID.photo%>" alt = "">
                    </div>
                </button>
                <div class = "dropdown-content">
                    <a href = "/account/<%=userID._id%>" method="GET" id="account">Account</a>
                    <a href = "/settings/<%=userID._id%>" method="GET" id="settings">Settings</a>
                    <a href = "/" method="GET" id="home">Home</a>
                    <a href = "/logout" method="POST" id="logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Log out</a>
                    
                    <form id="logout-form" action="/logout" method="POST" style="display: none;"></form>
                </div>
            </div>
        <% } %>
        </form>
    </ul>
</div>

<div class = "sidenav">
    <!-- userID is not needed as page is not accessible by non logged in user -->
    <a href = "/"><i class="fa-solid fa-home"></i>Home</a>
    <a href = "map" ><i class="fa-solid fa-map"></i>Explore</a>
    <a href = "notify"><i class ="fa-solid fa-bell"></i>Notifications</a>
    <a href = "messages"><i class="fa-solid fa-envelope"></i>Messages</a>
    <a href = "favourites"><i class="fa-solid fa-star"></i>Favourites</a>
    <a href="create"><i class="fa-solid fa-plus"></i>Create</a>
    </div>

    <div class = "main-container">
        <div class = "settings-container">
            <div class = "settings-back-button">
                <form action = "/account/<%=userID._id%>" method = "GET">
                    <button>
                        <div class = "settings-back-icon">
                            <i class="fa-solid fa-arrow-left"></i>
                        </div>
                    </button>
                </form>
            </div>
            <h2 class = "settings-title">Settings</h2>
            <div class = "settings">
                <div class = "settings-option">
                    <h3>Change Bio</h3>
                    <form id = "change-bio" method="post" action="/change-bio">
                        <input type="text" name="bio" placeholder="New Bio" maxlength = "25" required>
                        <button type="submit">Update</button>
                    </form>
                </div>
                <div class = "settings-option">
                    <h3>Change Username</h3>
                    <form id = "change-username" method="post" action="/change-username">
                        <input type="text" name="username" placeholder="New Username" required>
                        <button type="submit">Update</button>
                    </form>
                </div>
                <div class = "settings-option">
                    <h3>Change Password</h3>
                    <form id = "change-password" method="post" action="/change-password">
                        <input type="password" name="password" placeholder="Current Password" required>
                        <input type="password" name="newPassword" placeholder="New Password" required>
                        <button type="submit">Update</button>
                    </form>
                </div>
                <div class = "settings-option">
                    <h3>Change Email</h3>
                    <form id = "change-email" method="post" action="/change-email">
                        <input type="email" name="email" placeholder="Current Email" required>
                        <input type="email" name="newEmail" placeholder="New Email" required>
                        <button type="submit">Update</button>
                    </form>
                </div>
                <div class = "settings-option">
                    <h3>Delete Account</h3>
                    <form id = "delete-account" method="post" action="/delete-account">
                        <input type="password" name="password" placeholder="Password" required>
                        <button type="submit">Update</button>
                    </form>
                </div>
            </div>
            <div class = "settings">
                <div class = "settings-option">
                    <h3>Appearence mode</h3>
                    <form id = "change-theme" method="post" action="/change-theme">
                        <select name="theme" required>
                            <option value="light">Light</option>
                            <option value="dark">Dark</option>
                            <option value="system">System</option>
                        </select>
                        <button type="submit">Update</button>
                    </form>
                </div>
                <div class = "settings-option">
                    <h3>Message Privacy</h3>
                    <form id = "change-message-privacy" method="post" action="/change-message-privacy">
                        <select name="messagePrivacy" required>
                            <option value="everyone">Everyone</option>
                            <option value="friends">Friends</option>
                            <option value="noone">No One</option>
                        </select>
                        <button type="submit">Update</button>
                    </form>
                </div>
                <div class = "settings-option">
                    <h3>Post Privacy</h3>
                    <form id = "change-post-privacy" method="post" action="/change-post-privacy">
                        <select name="postPrivacy" required>
                            <option value="everyone">Everyone</option>
                            <option value="friends">Friends</option>
                            <option value="noone">No One</option>
                        </select>
                        <button type="submit">Update</button>
                    </form>
                </div>
                <div class = "settings-option">
                    <h3>Following Privacy</h3>
                    <form id = "change-following-privacy" method="post" action="/change-following-privacy">
                        <select name="followingPrivacy" required>
                            <option value="everyone">Everyone</option>
                            <option value="friends">Friends</option>
                            <option value="noone">No One</option>
                        </select>
                        <button type="submit">Update</button>
                    </form>
                </div>
                <div class = "settings-option">
                    <h3>Account Privacy</h3>
                    <form id = "change-account-privacy" method="post" action="/change-account-privacy">
                        <select name="accountPrivacy" required>
                            <option value="everyone">Everyone</option>
                            <option value="friends">Friends</option>
                            <option value="noone">No One</option>
                        </select>
                        <button type="submit">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/src/javascript/script.js"></script>
</div>
</body>

</html>